<a href="https://colab.research.google.com/github/undefinedzack/stock-market-prediction-using-sentiment-analysis/blob/master/Final_Merged_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Manipulation

import numpy as np
import pandas as pd
import re

# Preprocessing the input data

import nltk
from bs4 import BeautifulSoup
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer

# Creating ngrams and vectorizing the data

from gensim.models import Word2Vec, Phrases
from gensim.models.phrases import Phraser

# Tools for building a model

from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, Bidirectional
from keras.layers.embeddings import Embedding
from keras.preprocessing.sequence import pad_sequences
import tensorflow as tf

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
%cd drive/MyDrive/Colab_Data/
%ls -l

/content/drive/.shortcut-targets-by-id/1mnM1b6TaU1SW1anY35VRUPG3xIImlWjS/Colab_Data
total 465898
-rw------- 1 root root   2586020 Feb 20 13:52  200features_10minwords
-rw------- 1 root root 407958406 Feb 19 10:33  causeSheDidItThisWay.csv
-rw------- 1 root root    965379 Mar 31 16:44  df_final.csv
-rw------- 1 root root  34251814 Mar 31 11:47 'df_stocktwits_prepared_final (1).csv'
-rw------- 1 root root  15257600 Mar 31 11:34  df_stocktwits_prepared_final.csv
-rw------- 1 root root   5617630 Mar 31 05:47  News.csv
drwx------ 2 root root      4096 Mar 19 13:58  saved_model/
-rw------- 1 root root    479968 Feb 20 13:09  stock_data.csv
-rw------- 1 root root   7076794 Feb 16 13:29  stockerbot-export1.csv
-rw------- 1 root root    167083 Mar 31 05:46  stocks.csv
-rw------- 1 root root   1752624 Feb 16 13:31  tweet_sentiment.csv
-rw------- 1 root root    959890 Feb 20 13:28  tweets_labelled.csv

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving df_final.csv to df_final.csv

In [ ]:
df1 = pd.read_csv('df_stocktwits_prepared_final.csv')
df2 = pd.read_csv('df_final.csv')

In [ ]:
df1=df1[df1.columns[0:3]]

In [ ]:
df1=df1.drop('time', axis=1)
df1['clean_text'] = df1.groupby(['created_date'])['clean_text'].transform(lambda x : ' '.join(x))
  
# drop duplicate data
df1 = df1.drop_duplicates()

In [ ]:
df1

      created_date                                         clean_text
0       01-01-2019  thinking about buying a lot and hold it for lo...
10      02-01-2019  trying for the 20 MA Will we see any dips ? Bo...
69      03-01-2019  $$$ _ Raytheon UK to secure hundreds of aerosp...
155     04-01-2019  _url Boeing remains top pick for 2019 by Baird...
215     05-01-2019  The Top Stocks On The Dow Jones Also _url The ...
...            ...                                                ...
35557   02-06-2019  I am seeing on that list what is more unreliab...
35633   03-06-2019  over the wekend states planes have bad parts D...
36001   04-06-2019  same here Still waiting for $ba to buy below 3...
36176   05-06-2019  $BA: Press Release published article on June 0...
36376   06-06-2019  long and strong focus on the next few decades ...

[157 rows x 2 columns]

In [ ]:
###### CLEANING EACH STRING
def clean(tweet :str) -> str:
  pat1= r'@[A-Za-z0-9]+'
  pat2= r'https?://[A-Za-z0-9./]+'
  combined_pat=r'|'.join((pat1,pat2))
  pat3= r'[^a-zA-Z]'
  combined_pat2=r'|'.join((combined_pat,pat3))
  
  # removing HTML
  text = BeautifulSoup(tweet, "lxml").get_text()

  # remove non-letters
  letters_only = re.sub(combined_pat2, " ", text)

  # converting to lower-case
  lowercase_letters = letters_only.lower()

  return lowercase_letters


##### LEMMATIZATION
def lemmatize(tokens :list) -> list:
  lemmatizer = WordNetLemmatizer()
  ps= PorterStemmer()
  stop_words = set(stopwords.words("english"))  
 
  # lemmatize
  lemmatized_tokens = list(map(lemmatizer.lemmatize, tokens))

  # remove stop words
  meaningful_words = list(filter(lambda x : x not in stop_words, lemmatized_tokens))

  tweets = [ps.stem(word) for word in meaningful_words]
  return tweets


###### ALL TOGETHER
def preprocess(tweet :str) -> list:

  # clean tweet
  clean_tweet = clean(tweet)

  # tokenize
  tokens = word_tokenize(clean_tweet)

  # lemmatize
  lemmaz = lemmatize(tokens)

  return lemmaz


###### CLEANING WHOLE DATA BY PROCESSING EACH TWEET ONE BY ONE
def get_clean_data(tweets):
  return np.array(list(map(preprocess, tweets )))

  
###### BUILDING TRIGRAMS MODEL
def build_trigrams_model(cleaned_data):
  #creating n grams
  bigrams = Phrases(sentences=cleaned_data)
  trigrams = Phrases(sentences=bigrams[cleaned_data])
  
  # creating trigram model
  embedding_vector_size = 256
  trigrams_model = Word2Vec(
      sentences = trigrams[bigrams[cleaned_data]],
      size = embedding_vector_size,
      min_count=3, window=5, workers=4)
  
  return trigrams_model


###### VECTORIZING DATA
def vectorize_data(data, vocab: dict) -> list:
    print('Vectorize sentences...')
    keys = list(vocab.keys())
    filter_unknown = lambda word: vocab.get(word, None) is not None
    encode = lambda tweet: list(map(keys.index, filter(filter_unknown, tweet)))
    vectorized = list(map(encode, data))
    print('Vectorize sentences... (done)')
    return vectorized


###### FINAL DATA WITH PADDING
def vectorised_padded_data(cleaned_data):
  
  bigrams = Phrases(sentences=cleaned_data)
  trigrams = Phrases(sentences=bigrams[cleaned_data])
  X_data = trigrams[bigrams[cleaned_data]]
  
  print('Convert sentences to sentences with ngrams... (done)')
  input_length = 150
  
  trigrams_model = build_trigrams_model(cleaned_data)
  X_pad = pad_sequences(
      sequences=vectorize_data(X_data, vocab=trigrams_model.wv.vocab),
      maxlen=input_length,
      padding='post')
  return X_pad


###### CLUBBING VECTORIZATION AND PADDING FUCTION
def suitable_data(tweets):
  cleaned_data = get_clean_data(tweets)
  return vectorised_padded_data(cleaned_data)

In [ ]:
X_pad = suitable_data(df1['clean_text'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:54: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
/usr/local/lib/python3.7/dist-packages/gensim/models/phrases.py:598: UserWarning: For a faster implementation, use the gensim.models.phrases.Phraser class
  warnings.warn("For a faster implementation, use the gensim.models.phrases.Phraser class")

Convert sentences to sentences with ngrams... (done)
Vectorize sentences...
Vectorize sentences... (done)

In [ ]:
my_model = tf.keras.models.load_model('saved_model')

In [ ]:
outputs=my_model.predict(x=X_pad)

In [ ]:

df1=df1.assign(sentiments = outputs)
df1

      created_date  ... sentiments
0       01-01-2019  ...   0.994443
10      02-01-2019  ...   0.001840
69      03-01-2019  ...   0.999811
155     04-01-2019  ...   0.002085
215     05-01-2019  ...   0.999998
...            ...  ...        ...
35557   02-06-2019  ...   1.000000
35633   03-06-2019  ...   0.999999
36001   04-06-2019  ...   0.999999
36176   05-06-2019  ...   0.999961
36376   06-06-2019  ...   1.000000

[157 rows x 3 columns]

In [ ]:
df2.head(10)

               Time        Open  ...  max_sentiment_score  min_sentiment_score
0  02-01-2019 09:30  315.500000  ...             0.471599            -0.323868
1  02-01-2019 10:30  318.439301  ...             0.257091             0.198361
2  02-01-2019 11:30  320.567505  ...                  NaN                  NaN
3  02-01-2019 12:30  319.798492  ...                  NaN                  NaN
4  02-01-2019 13:30  323.443207  ...            -0.176063            -0.176063
5  02-01-2019 14:30  322.000000  ...             0.131448            -0.114558
6  02-01-2019 15:30  320.670013  ...             0.467212            -0.184281
7  03-01-2019 09:30  318.950012  ...             0.377099            -0.220602
8  03-01-2019 10:30  312.760010  ...                  NaN                  NaN
9  03-01-2019 11:30  312.024994  ...                  NaN                  NaN

[10 rows x 63 columns]

In [ ]:
df2['created_date'] = df2['Time'].transform(lambda x : x.split(' ')[0])
df2.head()

               Time        Open  ...  min_sentiment_score  created_date
0  02-01-2019 09:30  315.500000  ...            -0.323868    02-01-2019
1  02-01-2019 10:30  318.439301  ...             0.198361    02-01-2019
2  02-01-2019 11:30  320.567505  ...                  NaN    02-01-2019
3  02-01-2019 12:30  319.798492  ...                  NaN    02-01-2019
4  02-01-2019 13:30  323.443207  ...            -0.176063    02-01-2019

[5 rows x 64 columns]

In [ ]:
df2_open=df2[['created_date', 'Open']]
df2_close=df2[['created_date', 'Close']]
df2_open

     created_date        Open
0      02-01-2019  315.500000
1      02-01-2019  318.439301
2      02-01-2019  320.567505
3      02-01-2019  319.798492
4      02-01-2019  323.443207
...           ...         ...
1745   30-12-2019  327.744995
1746   30-12-2019  327.049988
1747   30-12-2019  327.269989
1748   31-12-2019  325.410004
1749   31-12-2019  324.700012

[1750 rows x 2 columns]

In [ ]:
df2_close

     created_date       Close
0      02-01-2019  318.440002
1      02-01-2019  320.520294
2      02-01-2019  319.547790
3      02-01-2019  323.340790
4      02-01-2019  321.760010
...           ...         ...
1745   30-12-2019  327.059998
1746   30-12-2019  327.289612
1747   30-12-2019  326.540008
1748   31-12-2019  324.709992
1749   31-12-2019  324.000000

[1750 rows x 2 columns]

In [ ]:
#Taking 1st entry of open value and last entry of close value for the date
df2_open = df2_open.groupby(['created_date']).first()
df2_close = df2_close.groupby(['created_date']).last()
df2_open

                    Open
created_date
01-02-2019    386.829987
01-03-2019    445.709992
01-04-2019    386.359985
01-05-2019    378.529999
01-07-2019    364.880005
...                  ...
31-01-2019    386.500000
31-05-2019    345.850006
31-07-2019    348.489990
31-10-2019    344.700012
31-12-2019    325.410004

[252 rows x 1 columns]

In [ ]:
df2_close

                   Close
created_date
01-02-2019    387.399994
01-03-2019    440.910004
01-04-2019    391.540008
01-05-2019    376.700012
01-07-2019    356.029999
...                  ...
31-01-2019    385.420013
31-05-2019    341.630005
31-07-2019    341.200012
31-10-2019    339.940002
31-12-2019    324.000000

[252 rows x 1 columns]

In [ ]:
final=pd.merge(df2_open,df2_close,on='created_date')

In [ ]:
final

                    Open       Close
created_date
01-02-2019    386.829987  387.399994
01-03-2019    445.709992  440.910004
01-04-2019    386.359985  391.540008
01-05-2019    378.529999  376.700012
01-07-2019    364.880005  356.029999
...                  ...         ...
31-01-2019    386.500000  385.420013
31-05-2019    345.850006  341.630005
31-07-2019    348.489990  341.200012
31-10-2019    344.700012  339.940002
31-12-2019    325.410004  324.000000

[252 rows x 2 columns]

In [ ]:
#Merging Sentiment and open close
full_final=pd.merge(df1,final,on='created_date',how='inner')
full_final

    created_date  ...       Close
0     02-01-2019  ...  323.839996
1     03-01-2019  ...  310.809998
2     04-01-2019  ...  326.880005
3     07-01-2019  ...  328.059998
4     08-01-2019  ...  340.484985
..           ...  ...         ...
103   31-05-2019  ...  341.630005
104   03-06-2019  ...  338.549988
105   04-06-2019  ...  344.619995
106   05-06-2019  ...  348.750000
107   06-06-2019  ...  350.790008

[108 rows x 5 columns]

In [ ]:
#sign = lambda a: 1 if a>0 else -1 if a<0 else 0
full_final['status'] = np.sign(full_final['Close'] - full_final['Open'])
full_final

    created_date  ... status
0     02-01-2019  ...    1.0
1     03-01-2019  ...   -1.0
2     04-01-2019  ...    1.0
3     07-01-2019  ...   -1.0
4     08-01-2019  ...    1.0
..           ...  ...    ...
103   31-05-2019  ...   -1.0
104   03-06-2019  ...    1.0
105   04-06-2019  ...    1.0
106   05-06-2019  ...    1.0
107   06-06-2019  ...    1.0

[108 rows x 6 columns]