<a href="https://colab.research.google.com/github/undefinedzack/stock-market-prediction-using-sentiment-analysis/blob/master/MissingDateSentimentsProcessed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Manipulation

import numpy as np
import pandas as pd
import re

# Preprocessing the input data

import nltk
from bs4 import BeautifulSoup
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer

# Creating ngrams and vectorizing the data

from gensim.models import Word2Vec, Phrases
from gensim.models.phrases import Phraser

# Tools for building a model

from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, Bidirectional
from keras.layers.embeddings import Embedding
from keras.preprocessing.sequence import pad_sequences
import tensorflow as tf

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
%cd drive/MyDrive/Colab_Data/
%ls -l

/content/drive/.shortcut-targets-by-id/1mnM1b6TaU1SW1anY35VRUPG3xIImlWjS/Colab_Data
total 474295
-rw------- 1 root root   2586020 Feb 20 13:52  200features_10minwords
-rw------- 1 root root 407958406 Feb 19 10:33  causeSheDidItThisWay.csv
-rw------- 1 root root    965379 Mar 31 16:44  df_final.csv
-rw------- 1 root root  34251814 Mar 31 11:47 'df_stocktwits_prepared_final (1).csv'
-rw------- 1 root root    512000 Apr  4 14:09 'df_stocktwits_prepared_final (2).csv'
-rw------- 1 root root  15257600 Mar 31 11:34  df_stocktwits_prepared_final.csv
-rw------- 1 root root   5617630 Mar 31 05:47  News.csv
drwx------ 2 root root      4096 Mar 19 13:58  saved_model/
-rw------- 1 root root   8086272 Apr  6 06:55  sentimenttweets.csv
-rw------- 1 root root    479968 Feb 20 13:09  stock_data.csv
-rw------- 1 root root   7076794 Feb 16 13:29  stockerbot-export1.csv
-rw------- 1 root root    167083 Mar 31 05:46  stocks.csv
-rw------- 1 root root   1752624 Feb 16 13:31  tweet_sentiment.csv
-rw------- 1 root root    959890 Feb 20 13:28  tweets_labelled.csv

In [ ]:
#dont run this file already made after getting sentiments from model..Goto the cell where its written 'RUN FROM HERE DIRECTLY' 
df1 = pd.read_csv('df_stocktwits_prepared_final (1).csv')
df2 = pd.read_csv('df_final.csv')

In [ ]:
df1=df1.iloc[:, 0:3]

In [ ]:
df1=df1.drop('time', axis=1)
df1['clean_text'] = df1.groupby(['created_date'])['clean_text'].transform(lambda x : ' '.join(x))
  
# drop duplicate data
df1 = df1.drop_duplicates()

In [ ]:
df1

      created_date  ... sentiments
0       01-01-2019  ...   0.995417
1       01-01-2019  ...   0.998086
2       01-01-2019  ...   0.998789
3       01-01-2019  ...   0.002507
4       01-01-2019  ...   0.999294
...            ...  ...        ...
77017   31-12-2019  ...   0.999105
77018   31-12-2019  ...   0.999919
77019   31-12-2019  ...   0.999992
77020   31-12-2019  ...   0.999867
77021   31-12-2019  ...   0.998787

[77022 rows x 3 columns]

In [ ]:
###### CLEANING EACH STRING
def clean(tweet :str) -> str:
  pat1= r'@[A-Za-z0-9]+'
  pat2= r'https?://[A-Za-z0-9./]+'
  combined_pat=r'|'.join((pat1,pat2))
  pat3= r'[^a-zA-Z]'
  combined_pat2=r'|'.join((combined_pat,pat3))
  
  # removing HTML
  text = BeautifulSoup(tweet, "lxml").get_text()

  # remove non-letters
  letters_only = re.sub(combined_pat2, " ", text)

  # converting to lower-case
  lowercase_letters = letters_only.lower()

  return lowercase_letters


##### LEMMATIZATION
def lemmatize(tokens :list) -> list:
  lemmatizer = WordNetLemmatizer()
  ps= PorterStemmer()
  stop_words = set(stopwords.words("english"))  
 
  # lemmatize
  lemmatized_tokens = list(map(lemmatizer.lemmatize, tokens))

  # remove stop words
  meaningful_words = list(filter(lambda x : x not in stop_words, lemmatized_tokens))

  tweets = [ps.stem(word) for word in meaningful_words]
  return tweets


###### ALL TOGETHER
def preprocess(tweet :str) -> list:

  # clean tweet
  clean_tweet = clean(tweet)

  # tokenize
  tokens = word_tokenize(clean_tweet)

  # lemmatize
  lemmaz = lemmatize(tokens)

  return lemmaz


###### CLEANING WHOLE DATA BY PROCESSING EACH TWEET ONE BY ONE
def get_clean_data(tweets):
  return np.array(list(map(preprocess, tweets )))

  
###### BUILDING TRIGRAMS MODEL
def build_trigrams_model(cleaned_data):
  #creating n grams
  bigrams = Phrases(sentences=cleaned_data)
  trigrams = Phrases(sentences=bigrams[cleaned_data])
  
  # creating trigram model
  embedding_vector_size = 256
  trigrams_model = Word2Vec(
      sentences = trigrams[bigrams[cleaned_data]],
      size = embedding_vector_size,
      min_count=3, window=5, workers=4)
  
  return trigrams_model


###### VECTORIZING DATA
def vectorize_data(data, vocab: dict) -> list:
    print('Vectorize sentences...')
    keys = list(vocab.keys())
    filter_unknown = lambda word: vocab.get(word, None) is not None
    encode = lambda tweet: list(map(keys.index, filter(filter_unknown, tweet)))
    vectorized = list(map(encode, data))
    print('Vectorize sentences... (done)')
    return vectorized


###### FINAL DATA WITH PADDING
def vectorised_padded_data(cleaned_data):
  
  bigrams = Phrases(sentences=cleaned_data)
  trigrams = Phrases(sentences=bigrams[cleaned_data])
  X_data = trigrams[bigrams[cleaned_data]]
  
  print('Convert sentences to sentences with ngrams... (done)')
  input_length = 150
  
  trigrams_model = build_trigrams_model(cleaned_data)
  X_pad = pad_sequences(
      sequences=vectorize_data(X_data, vocab=trigrams_model.wv.vocab),
      maxlen=input_length,
      padding='post')
  return X_pad


###### CLUBBING VECTORIZATION AND PADDING FUCTION
def suitable_data(tweets):
  cleaned_data = get_clean_data(tweets)
  return vectorised_padded_data(cleaned_data)

In [ ]:
X_pad = suitable_data(df1['clean_text'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:54: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
/usr/local/lib/python3.7/dist-packages/gensim/models/phrases.py:598: UserWarning: For a faster implementation, use the gensim.models.phrases.Phraser class
  warnings.warn("For a faster implementation, use the gensim.models.phrases.Phraser class")

Convert sentences to sentences with ngrams... (done)
Vectorize sentences...
Vectorize sentences... (done)

In [ ]:
lis = np.where(X_pad>10678)
for i in range(0,len(lis[0])):
  X_pad[lis[0][i]][lis[1][i]]=10678

In [ ]:
my_model = tf.keras.models.load_model('saved_model')

In [ ]:
outputs=my_model.predict(x=X_pad)

In [ ]:
df1=df1.drop('time', axis=1)
df1=df1.assign(sentiments = outputs)
df1

      created_date  ... sentiments
0       01-01-2019  ...   0.995417
1       01-01-2019  ...   0.998086
2       01-01-2019  ...   0.998789
3       01-01-2019  ...   0.002507
4       01-01-2019  ...   0.999294
...            ...  ...        ...
77017   31-12-2019  ...   0.999105
77018   31-12-2019  ...   0.999919
77019   31-12-2019  ...   0.999992
77020   31-12-2019  ...   0.999867
77021   31-12-2019  ...   0.998787

[77022 rows x 3 columns]

In [ ]:
#stored in sentimenttweets.csv
df1.to_csv("sentimenttweets.csv", index=False)

In [47]:
#RUN FROM HERE DIRECTLY
df1=pd.read_csv('sentimenttweets.csv')
df2 = pd.read_csv('df_final.csv')

In [48]:
df1['created_date'] = pd.to_datetime(df1['created_date'])
df1.sort_values(by='created_date')
df1

      created_date  ... sentiments
0       2019-01-01  ...   0.995417
1       2019-01-01  ...   0.998086
2       2019-01-01  ...   0.998789
3       2019-01-01  ...   0.002507
4       2019-01-01  ...   0.999294
...            ...  ...        ...
77017   2019-12-31  ...   0.999105
77018   2019-12-31  ...   0.999919
77019   2019-12-31  ...   0.999992
77020   2019-12-31  ...   0.999867
77021   2019-12-31  ...   0.998787

[77022 rows x 3 columns]

In [49]:
#taking mean of sentiments for same date
df1 = df1.groupby(['created_date'],as_index=False).mean()    #as_index=False important so that there's a column of createddate too

In [54]:
df1.head(10)

  created_date  sentiments
0   2019-01-01    0.772641
1   2019-01-02    0.886450
2   2019-01-03    0.900668
3   2019-01-04    0.897670
4   2019-01-05    0.916115
5   2019-01-06    0.897942
6   2019-01-07    0.930851
7   2019-01-08    0.919283
8   2019-01-09    0.923342
9   2019-01-10    0.957152

In [ ]:
#df1.to_csv("sortedGroupedDatesSentiments.csv", index=False)

In [ ]:
df2.head(10)

               Time        Open  ...  max_sentiment_score  min_sentiment_score
0  02-01-2019 09:30  315.500000  ...             0.471599            -0.323868
1  02-01-2019 10:30  318.439301  ...             0.257091             0.198361
2  02-01-2019 11:30  320.567505  ...                  NaN                  NaN
3  02-01-2019 12:30  319.798492  ...                  NaN                  NaN
4  02-01-2019 13:30  323.443207  ...            -0.176063            -0.176063
5  02-01-2019 14:30  322.000000  ...             0.131448            -0.114558
6  02-01-2019 15:30  320.670013  ...             0.467212            -0.184281
7  03-01-2019 09:30  318.950012  ...             0.377099            -0.220602
8  03-01-2019 10:30  312.760010  ...                  NaN                  NaN
9  03-01-2019 11:30  312.024994  ...                  NaN                  NaN

[10 rows x 63 columns]

In [ ]:
#Extracting date from 'Time' Column for a new column 'created_date' 
df2['created_date'] = df2['Time'].transform(lambda x : x.split(' ')[0])

#Sorting According to Created_date
df2['created_date'] = pd.to_datetime(df2['created_date'])
df2.sort_values(by='created_date')
df2.head()

               Time        Open  ...  min_sentiment_score  created_date
0  02-01-2019 09:30  315.500000  ...            -0.323868    2019-02-01
1  02-01-2019 10:30  318.439301  ...             0.198361    2019-02-01
2  02-01-2019 11:30  320.567505  ...                  NaN    2019-02-01
3  02-01-2019 12:30  319.798492  ...                  NaN    2019-02-01
4  02-01-2019 13:30  323.443207  ...            -0.176063    2019-02-01

[5 rows x 64 columns]

In [ ]:
df2_open=df2[['created_date', 'Open']]
df2_close=df2[['created_date', 'Close']]
df2_open

     created_date        Open
0      2019-02-01  315.500000
1      2019-02-01  318.439301
2      2019-02-01  320.567505
3      2019-02-01  319.798492
4      2019-02-01  323.443207
...           ...         ...
1745   2019-12-30  327.744995
1746   2019-12-30  327.049988
1747   2019-12-30  327.269989
1748   2019-12-31  325.410004
1749   2019-12-31  324.700012

[1750 rows x 2 columns]

In [ ]:
df2_close

     created_date       Close
0      02-01-2019  318.440002
1      02-01-2019  320.520294
2      02-01-2019  319.547790
3      02-01-2019  323.340790
4      02-01-2019  321.760010
...           ...         ...
1745   30-12-2019  327.059998
1746   30-12-2019  327.289612
1747   30-12-2019  326.540008
1748   31-12-2019  324.709992
1749   31-12-2019  324.000000

[1750 rows x 2 columns]

In [ ]:
#Taking 1st entry of open value and last entry of close value for the date
df2_open = df2_open.groupby(['created_date']).first()
df2_close = df2_close.groupby(['created_date']).last()
df2_open

                    Open
created_date
2019-01-02    386.829987
2019-01-03    445.709992
2019-01-04    386.359985
2019-01-05    378.529999
2019-01-07    364.880005
...                  ...
2019-12-24    339.510010
2019-12-26    333.197388
2019-12-27    330.200012
2019-12-30    330.500000
2019-12-31    325.410004

[252 rows x 1 columns]

In [ ]:
df2_close

                   Close
created_date
2019-01-02    387.399994
2019-01-03    440.910004
2019-01-04    391.540008
2019-01-05    376.700012
2019-01-07    356.029999
...                  ...
2019-12-24    332.500000
2019-12-26    329.920013
2019-12-27    330.119995
2019-12-30    326.540008
2019-12-31    324.000000

[252 rows x 1 columns]

In [ ]:
final=pd.merge(df2_open,df2_close,on='created_date')

In [ ]:
final

                    Open       Close
created_date
2019-01-02    386.829987  387.399994
2019-01-03    445.709992  440.910004
2019-01-04    386.359985  391.540008
2019-01-05    378.529999  376.700012
2019-01-07    364.880005  356.029999
...                  ...         ...
2019-12-24    339.510010  332.500000
2019-12-26    333.197388  329.920013
2019-12-27    330.200012  330.119995
2019-12-30    330.500000  326.540008
2019-12-31    325.410004  324.000000

[252 rows x 2 columns]

In [ ]:
#Some dates are misssing in close open dataset due to holiday..getting them in a list
missing_dates=pd.date_range(start = '2019-01-01', end = '2019-12-31' ).difference(final.index).tolist()
missing_dates

[Timestamp('2019-01-01 00:00:00'),
 Timestamp('2019-01-06 00:00:00'),
 Timestamp('2019-01-09 00:00:00'),
 Timestamp('2019-01-12 00:00:00'),
 Timestamp('2019-01-13 00:00:00'),
 Timestamp('2019-01-19 00:00:00'),
 Timestamp('2019-01-20 00:00:00'),
 Timestamp('2019-01-21 00:00:00'),
 Timestamp('2019-01-26 00:00:00'),
 Timestamp('2019-01-27 00:00:00'),
 Timestamp('2019-02-02 00:00:00'),
 Timestamp('2019-02-03 00:00:00'),
 Timestamp('2019-02-06 00:00:00'),
 Timestamp('2019-02-09 00:00:00'),
 Timestamp('2019-02-11 00:00:00'),
 Timestamp('2019-02-16 00:00:00'),
 Timestamp('2019-02-17 00:00:00'),
 Timestamp('2019-02-18 00:00:00'),
 Timestamp('2019-02-23 00:00:00'),
 Timestamp('2019-02-24 00:00:00'),
 Timestamp('2019-03-02 00:00:00'),
 Timestamp('2019-03-03 00:00:00'),
 Timestamp('2019-03-08 00:00:00'),
 Timestamp('2019-03-11 00:00:00'),
 Timestamp('2019-03-16 00:00:00'),
 Timestamp('2019-03-17 00:00:00'),
 Timestamp('2019-03-23 00:00:00'),
 Timestamp('2019-03-24 00:00:00'),
 Timestamp('2019-03-30 00:00:00'),
 Timestamp('2019-03-31 00:00:00'),
 Timestamp('2019-04-05 00:00:00'),
 Timestamp('2019-04-07 00:00:00'),
 Timestamp('2019-04-08 00:00:00'),
 Timestamp('2019-04-13 00:00:00'),
 Timestamp('2019-04-14 00:00:00'),
 Timestamp('2019-04-19 00:00:00'),
 Timestamp('2019-04-20 00:00:00'),
 Timestamp('2019-04-21 00:00:00'),
 Timestamp('2019-04-27 00:00:00'),
 Timestamp('2019-04-28 00:00:00'),
 Timestamp('2019-05-01 00:00:00'),
 Timestamp('2019-05-05 00:00:00'),
 Timestamp('2019-05-10 00:00:00'),
 Timestamp('2019-05-18 00:00:00'),
 Timestamp('2019-05-19 00:00:00'),
 Timestamp('2019-05-25 00:00:00'),
 Timestamp('2019-05-26 00:00:00'),
 Timestamp('2019-05-27 00:00:00'),
 Timestamp('2019-06-01 00:00:00'),
 Timestamp('2019-06-04 00:00:00'),
 Timestamp('2019-06-07 00:00:00'),
 Timestamp('2019-06-10 00:00:00'),
 Timestamp('2019-06-15 00:00:00'),
 Timestamp('2019-06-16 00:00:00'),
 Timestamp('2019-06-22 00:00:00'),
 Timestamp('2019-06-23 00:00:00'),
 Timestamp('2019-06-29 00:00:00'),
 Timestamp('2019-06-30 00:00:00'),
 Timestamp('2019-07-04 00:00:00'),
 Timestamp('2019-07-07 00:00:00'),
 Timestamp('2019-07-09 00:00:00'),
 Timestamp('2019-07-12 00:00:00'),
 Timestamp('2019-07-13 00:00:00'),
 Timestamp('2019-07-14 00:00:00'),
 Timestamp('2019-07-20 00:00:00'),
 Timestamp('2019-07-21 00:00:00'),
 Timestamp('2019-07-27 00:00:00'),
 Timestamp('2019-07-28 00:00:00'),
 Timestamp('2019-08-06 00:00:00'),
 Timestamp('2019-08-09 00:00:00'),
 Timestamp('2019-08-12 00:00:00'),
 Timestamp('2019-08-17 00:00:00'),
 Timestamp('2019-08-18 00:00:00'),
 Timestamp('2019-08-24 00:00:00'),
 Timestamp('2019-08-25 00:00:00'),
 Timestamp('2019-08-31 00:00:00'),
 Timestamp('2019-09-02 00:00:00'),
 Timestamp('2019-09-03 00:00:00'),
 Timestamp('2019-09-06 00:00:00'),
 Timestamp('2019-09-11 00:00:00'),
 Timestamp('2019-09-14 00:00:00'),
 Timestamp('2019-09-15 00:00:00'),
 Timestamp('2019-09-21 00:00:00'),
 Timestamp('2019-09-22 00:00:00'),
 Timestamp('2019-09-28 00:00:00'),
 Timestamp('2019-09-29 00:00:00'),
 Timestamp('2019-10-02 00:00:00'),
 Timestamp('2019-10-03 00:00:00'),
 Timestamp('2019-10-08 00:00:00'),
 Timestamp('2019-10-11 00:00:00'),
 Timestamp('2019-10-13 00:00:00'),
 Timestamp('2019-10-19 00:00:00'),
 Timestamp('2019-10-20 00:00:00'),
 Timestamp('2019-10-26 00:00:00'),
 Timestamp('2019-10-27 00:00:00'),
 Timestamp('2019-11-05 00:00:00'),
 Timestamp('2019-11-08 00:00:00'),
 Timestamp('2019-11-16 00:00:00'),
 Timestamp('2019-11-17 00:00:00'),
 Timestamp('2019-11-23 00:00:00'),
 Timestamp('2019-11-24 00:00:00'),
 Timestamp('2019-11-28 00:00:00'),
 Timestamp('2019-11-30 00:00:00'),
 Timestamp('2019-12-01 00:00:00'),
 Timestamp('2019-12-05 00:00:00'),
 Timestamp('2019-12-10 00:00:00'),
 Timestamp('2019-12-14 00:00:00'),
 Timestamp('2019-12-15 00:00:00'),
 Timestamp('2019-12-21 00:00:00'),
 Timestamp('2019-12-22 00:00:00'),
 Timestamp('2019-12-25 00:00:00'),
 Timestamp('2019-12-28 00:00:00'),
 Timestamp('2019-12-29 00:00:00')]

In [59]:
#Function to merge sentiments of a holiday with its previous day sentiment
def missDateMerge(df1):
  newSentiments=df1['sentiments'].tolist()
  for i in range(1, len(newSentiments)):
    lst=[]
    j=i-1
    if df1['created_date'][i] in missing_dates:
      #print(df1['created_date'][i])
      while df1['created_date'][j] in missing_dates:      #if previous day sentiments are also holidays
        lst.append(newSentiments[j])
        j=j-1
      lst.append(newSentiments[j])
      #print(lst)
      newSentiments[j]=(sum(lst)+newSentiments[i])/(len(lst)+1)   #taking avg of all holiday sentiments and asssigning it to previous day 
  return newSentiments


newSentiments=missDateMerge(df1)
newSentiments

[0.77264065994,
 0.8864495920283344,
 0.9006677304969024,
 0.8976700394170924,
 0.9070285966607515,
 0.8979417914629998,
 0.9308511562769265,
 0.9213128095942498,
 0.9233421706257141,
 0.9571522419090912,
 0.9091290155317607,
 0.9294372661904762,
 0.8683207280922806,
 0.9075074216514286,
 0.9459511381250003,
 0.9637507043902438,
 0.878240524677309,
 0.8914636653310795,
 0.920780704357143,
 0.8456792482946667,
 0.9144440957142856,
 0.8854425124153334,
 0.8971037441503193,
 0.8700949727983867,
 0.9447989788368297,
 0.9577430795238097,
 0.9162648271304347,
 0.939345603913846,
 0.9362046869179775,
 0.9063817290861669,
 0.9217414062224126,
 0.8973922491198075,
 0.8759697449167743,
 0.9549106766351086,
 0.9168488269966685,
 0.9026377419327565,
 0.9047940634981577,
 0.9158943528498735,
 0.8591643261599589,
 0.8283068216011306,
 0.9394288696340821,
 0.9351705527419355,
 0.8975853458357387,
 0.9279750198019417,
 0.932988836912354,
 0.921803673596762,
 0.9305726349787429,
 0.9131504108554782,
 0.9295401185125,
 0.8992242112444828,
 0.9494837554437769,
 0.8565684665139178,
 0.8865121730299025,
 0.8438921488125,
 0.9415075458050846,
 0.932252285403293,
 0.9032132790428281,
 0.90350624434779,
 0.9020239797274434,
 0.9141207405305645,
 0.9048881528154545,
 0.9321042271,
 0.9363633147053958,
 0.8901072019135133,
 0.9307892275018416,
 0.9113134550691995,
 0.8981281267966669,
 0.9148528184983922,
 0.9013551552107828,
 0.8835666547971431,
 0.9233138602514935,
 0.9293780427226261,
 0.9331387642263856,
 0.9182030330170119,
 0.9178835790331731,
 0.9215515294270586,
 0.9226829523631694,
 0.9024012622367462,
 0.921981912646409,
 0.9193080723350993,
 0.9078002228727056,
 0.9022049992454034,
 0.9121803926569281,
 0.905056023992496,
 0.9178609962502979,
 0.9187674420546516,
 0.9217321250457451,
 0.9452936254818103,
 0.9612620950819675,
 0.9290570744638887,
 0.9211166116178332,
 0.9220871163846336,
 0.9258247357870284,
 0.914420346388775,
 0.9183411105806348,
 0.9382749587726558,
 0.9028028879730768,
 0.9906490139024394,
 0.8855728786246344,
 0.9510125267306945,
 0.9141098299907803,
 0.9069747922035662,
 0.8836280120025717,
 0.931864754049032,
 0.9125145289963461,
 0.9253126561776366,
 0.9429251361983644,
 0.9511916162472702,
 0.9393041519577467,
 0.9666277279157893,
 0.9598699741226417,
 0.918915440016797,
 0.9426881528803378,
 0.9146803297160442,
 0.93834774324784,
 0.9137880158705105,
 0.9275450921694549,
 0.889619421433468,
 0.9374964101433025,
 0.9344165451881495,
 0.9244811959496444,
 0.9084867719298921,
 0.9440509998607552,
 0.9251386567359643,
 0.9177461278521296,
 0.8928476195411024,
 0.9270181569291858,
 0.9004991495024266,
 0.9726497198827617,
 0.9997009388888889,
 0.9210583790580222,
 0.9057236698042197,
 0.9158326644291095,
 0.8941401684769594,
 0.8703889782562316,
 0.93435100081793,
 0.9334934062631023,
 0.9386652025000001,
 0.9327856433235293,
 0.9365270427750001,
 0.9152994981924989,
 0.926940762091732,
 0.9254677600713025,
 0.9449439280035795,
 0.935927738888889,
 0.9986127115625,
 0.8904262999825926,
 0.9238936620988393,
 0.9214775484303521,
 0.9086156958817388,
 0.9286845054168513,
 0.909909644955263,
 0.8481999453014362,
 0.8988520296738041,
 0.8826093198712991,
 0.914523649234427,
 0.9610960407907474,
 0.9708296873170732,
 0.9158776197166015,
 0.9452132252304921,
 0.9409839547058824,
 0.9509596584241129,
 0.9238300623018089,
 0.921479056395,
 0.960089518315745,
 0.9606103941542963,
 0.9613488872340427,
 0.9037576517245824,
 0.9319869109787738,
 0.9219986556954906,
 0.9604151442586204,
 0.900052812645915,
 0.8797143330757105,
 0.927807208725532,
 0.9191451125946314,
 0.9485914134158416,
 0.9209373701798056,
 0.9325134260006523,
 0.9277603462764213,
 0.916693608372629,
 0.9532185640384704,
 0.9060718717027274,
 0.8986155704484707,
 0.920998216727425,
 0.925614654419266,
 0.9207901091172005,
 0.9436939397127195,
 0.9447616376949312,
 0.922628286474121,
 0.9470855722674314,
 0.9261276883279795,
 0.9274421612152818,
 0.924457947551282,
 0.9184775789818919,
 0.9419213124000003,
 0.9166957145474035,
 0.8989892771380283,
 0.912773462654734,
 0.9382377988058259,
 0.9389003013941757,
 0.9360172328443036,
 0.952708262518864,
 0.9327693349550469,
 0.9278772162742606,
 0.944300840180164,
 0.9114873231982745,
 0.9221119916217394,
 0.9240177629881818,
 0.9143248234600002,
 0.9069464357520638,
 0.9230637849699815,
 0.9311622494602336,
 0.8966319255423127,
 0.9049551765310477,
 0.9396792244799187,
 0.9196571945719861,
 0.9226352067829817,
 0.9409460335074286,
 0.9048427163798104,
 0.8934082557127399,
 0.8728301276821707,
 0.9411740226175709,
 0.9358675478836604,
 0.9346098026520003,
 0.9164492715926935,
 0.919491937623432,
 0.9074083736012584,
 0.9156032973067464,
 0.9472698214999999,
 0.8570179447099999,
 0.9596662046297897,
 0.9286983912936174,
 0.9261957703176522,
 0.9109274609218921,
 0.9116031504411654,
 0.8940629798879166,
 0.9348266000027394,
 0.9338851772487254,
 0.9095116025828317,
 0.9617299768745564,
 0.942257863993163,
 0.9090767423326518,
 0.9223470435,
 0.9252427781172755,
 0.9984607729411765,
 0.8409306388400001,
 0.9079964189712836,
 0.8909529509149301,
 0.8659263643334904,
 0.9028703650065046,
 0.9489708441694924,
 0.9138635280267856,
 0.935436579903451,
 0.9106197561014759,
 0.9242599390458563,
 0.8857983873357171,
 0.932773332021212,
 0.8012419458518519,
 0.8750742285586269,
 0.9007799658622413,
 0.910708785840211,
 0.9062689137975753,
 0.8977662610757018,
 0.8859873121153847,
 0.8811731233833334,
 0.9772214754117644,
 0.9178685015292773,
 0.9350162174447068,
 0.9056317802473218,
 0.8863791495894504,
 0.843575614005,
 0.9455563864864865,
 0.9448538878167678,
 0.9228142604902546,
 0.9192121502499997,
 0.9141987423900001,
 0.9234520550563943,
 0.9062616581294556,
 0.9525814736607148,
 0.9597279577972911,
 0.9950032452173916,
 0.9394654957582087,
 0.9505026607008946,
 0.9657309129999998,
 0.9251894087047926,
 0.9486800866666668,
 0.9566797196367101,
 0.923883835755043,
 0.8928896012128722,
 0.9687050357015171,
 0.936168668618896,
 0.9465901229469024,
 0.9347802569614745,
 0.9076520524993659,
 0.939387022581414,
 0.9052119786702726,
 0.9176896294997988,
 0.9505283205078499,
 0.9339504786057802,
 0.9901792125641026,
 0.9168783177326891,
 0.9011383890689861,
 0.9362818180411551,
 0.9213227684604063,
 0.9188601675072414,
 0.9231155872531855,
 0.9307752719432102,
 0.9273733512427005,
 0.9373948803384038,
 0.8810564233628032,
 0.9204520150228459,
 0.9548242604545454,
 0.9214711451445642,
 0.9395203353182667,
 0.9412503838166735,
 0.9188815109580855,
 0.9126625726896865,
 0.8888987477285283,
 0.9167362491928416,
 0.920254426497436,
 0.9173893021610419,
 0.9632504396131796,
 0.9192158024439606,
 0.9283043906570563,
 0.9522242696173335,
 0.9382823381704828,
 0.9671750360714285,
 0.8934319841612907,
 0.9396082283029411,
 0.9262788337815345,
 0.9339377484723486,
 0.9358343816391305,
 0.8747978524528515,
 0.8373930874485602,
 0.8837683360666668,
 0.9170798906899225,
 0.9213707291685772,
 0.9313319211366108,
 0.947087934819672,
 0.9121939666151881,
 0.9113241012838036,
 0.8897369667455206,
 0.9102728269272757,
 0.9117918514488373,
 0.9354283072798232,
 0.9273149257732838,
 0.9412509284846106,
 0.955640280212766,
 0.921558096927358,
 0.9125188423219404,
 0.9012038226030841,
 0.9268194945457182,
 0.9589019313242835,
 0.9268033439393301,
 0.9175204666437388,
 0.933879317482183,
 0.920243685300743,
 0.9331964381812841,
 0.9367340111976703,
 0.8973193323836459,
 0.9187029178365981,
 0.9418009017328948,
 0.8775022595939026,
 0.9462532643641755,
 0.9096556925631701]

In [60]:
df1['NewSentiments']=newSentiments
df1

    created_date  sentiments  NewSentiments
0     2019-01-01    0.772641       0.772641
1     2019-01-02    0.886450       0.886450
2     2019-01-03    0.900668       0.900668
3     2019-01-04    0.897670       0.897670
4     2019-01-05    0.916115       0.907029
..           ...         ...            ...
360   2019-12-27    0.931810       0.918703
361   2019-12-28    0.941801       0.941801
362   2019-12-29    0.877502       0.877502
363   2019-12-30    0.946253       0.946253
364   2019-12-31    0.909656       0.909656

[365 rows x 3 columns]

In [61]:
#Merging Sentiment and open close
full_final=pd.merge(df1,final,on='created_date',how='inner')
full_final

    created_date  sentiments  NewSentiments        Open       Close
0     2019-01-02    0.886450       0.886450  386.829987  387.399994
1     2019-01-03    0.900668       0.900668  445.709992  440.910004
2     2019-01-04    0.897670       0.897670  386.359985  391.540008
3     2019-01-05    0.916115       0.907029  378.529999  376.700012
4     2019-01-07    0.930851       0.930851  364.880005  356.029999
..           ...         ...            ...         ...         ...
247   2019-12-24    0.929659       0.933196  339.510010  332.500000
248   2019-12-26    0.897319       0.897319  333.197388  329.920013
249   2019-12-27    0.931810       0.918703  330.200012  330.119995
250   2019-12-30    0.946253       0.946253  330.500000  326.540008
251   2019-12-31    0.909656       0.909656  325.410004  324.000000

[252 rows x 5 columns]

In [62]:
#sign = lambda a: 1 if a>0 else -1 if a<0 else 0
full_final['status'] = np.sign(full_final['Close'] - full_final['Open'])
full_final

    created_date  sentiments  NewSentiments        Open       Close  status
0     2019-01-02    0.886450       0.886450  386.829987  387.399994     1.0
1     2019-01-03    0.900668       0.900668  445.709992  440.910004    -1.0
2     2019-01-04    0.897670       0.897670  386.359985  391.540008     1.0
3     2019-01-05    0.916115       0.907029  378.529999  376.700012    -1.0
4     2019-01-07    0.930851       0.930851  364.880005  356.029999    -1.0
..           ...         ...            ...         ...         ...     ...
247   2019-12-24    0.929659       0.933196  339.510010  332.500000    -1.0
248   2019-12-26    0.897319       0.897319  333.197388  329.920013    -1.0
249   2019-12-27    0.931810       0.918703  330.200012  330.119995    -1.0
250   2019-12-30    0.946253       0.946253  330.500000  326.540008    -1.0
251   2019-12-31    0.909656       0.909656  325.410004  324.000000    -1.0

[252 rows x 6 columns]

In [ ]:
#NewSentiments column to be sent in the model