In [58]:
from google.colab import files 
uploaded = files.upload()

KeyboardInterrupt: ignored

In [59]:
import pandas as pd 
import io
import random

In [60]:
df = pd.read_csv('df_final.csv')
df1 = pd.read_csv('df_stocktwits_prepared_final.csv')

In [61]:
df.head()

               Time        Open  ...  max_sentiment_score  min_sentiment_score
0  02-01-2019 09:30  315.500000  ...             0.471599            -0.323868
1  02-01-2019 10:30  318.439301  ...             0.257091             0.198361
2  02-01-2019 11:30  320.567505  ...                  NaN                  NaN
3  02-01-2019 12:30  319.798492  ...                  NaN                  NaN
4  02-01-2019 13:30  323.443207  ...            -0.176063            -0.176063

[5 rows x 63 columns]

In [62]:
df = df[df.columns[0:6]]

In [63]:
df.head()

               Time        Open        High         Low       Close   Adj Close
0  02-01-2019 09:30  315.500000  319.709992  313.899994  318.440002  318.440002
1  02-01-2019 10:30  318.439301  322.307007  317.350006  320.520294  320.520294
2  02-01-2019 11:30  320.567505  321.658691  319.093506  319.547790  319.547790
3  02-01-2019 12:30  319.798492  323.690002  319.250000  323.340790  323.340790
4  02-01-2019 13:30  323.443207  323.790008  320.679993  321.760010  321.760010

In [64]:
df.drop(['Close'],axis=1,inplace=True)

In [65]:
df.head()

               Time        Open        High         Low   Adj Close
0  02-01-2019 09:30  315.500000  319.709992  313.899994  318.440002
1  02-01-2019 10:30  318.439301  322.307007  317.350006  320.520294
2  02-01-2019 11:30  320.567505  321.658691  319.093506  319.547790
3  02-01-2019 12:30  319.798492  323.690002  319.250000  323.340790
4  02-01-2019 13:30  323.443207  323.790008  320.679993  321.760010

In [66]:
df.head(12)

                Time        Open        High         Low   Adj Close
0   02-01-2019 09:30  315.500000  319.709992  313.899994  318.440002
1   02-01-2019 10:30  318.439301  322.307007  317.350006  320.520294
2   02-01-2019 11:30  320.567505  321.658691  319.093506  319.547790
3   02-01-2019 12:30  319.798492  323.690002  319.250000  323.340790
4   02-01-2019 13:30  323.443207  323.790008  320.679993  321.760010
5   02-01-2019 14:30  322.000000  322.732300  319.529999  320.820007
6   02-01-2019 15:30  320.670013  323.850006  320.244385  323.839996
7   03-01-2019 09:30  318.950012  319.578400  312.339996  312.899994
8   03-01-2019 10:30  312.760010  313.744385  309.399994  311.519989
9   03-01-2019 11:30  312.024994  316.649994  311.380005  314.100006
10  03-01-2019 12:30  314.140015  315.029999  310.989990  312.089996
11  03-01-2019 13:30  311.989990  312.934998  310.341614  312.420013

In [67]:
df1.head()

  created_date  time  ... hashtags PMI_score
0   01-01-2019     1  ...        0 -0.345702
1   01-01-2019     7  ...        0  0.083216
2   01-01-2019     7  ...        1 -0.170713
3   01-01-2019     1  ...        0 -0.218591
4   01-01-2019     1  ...        0  0.760171

[5 rows x 59 columns]

In [68]:
df1=df1[df1.columns[0:3]]

In [74]:
df1.head(20)

   created_date  time                                         clean_text
0    01-01-2019     1  thinking about buying a lot and hold it for lo...
1    01-01-2019     7  So is it safe to say that the market bottomed ...
2    01-01-2019     7                                       #NEVERFORGET
3    01-01-2019     1  Helo where do you see going in the coming days...
4    01-01-2019     1                           ripping -9.83 % _url $BA
5    01-01-2019     1                           Market Review _url $FIVE
6    01-01-2019     1  make no mistake - this is headed 250-260 early...
7    01-01-2019     1                  313.96 seems like a PP in channel
8    01-01-2019     1              Bul/Bear - Dow Jones (2018) _url $UTX
9    01-01-2019     1                           waiting for a big load .
10   02-01-2019     1                               trying for the 20 MA
11   02-01-2019     1                             Will we see any dips ?
12   02-01-2019     1  Boeing recently death crossed and I started bu...
13   02-01-2019     1  Large Trades (Largest Trade: 0.17% of Volume) ...
14   02-01-2019     1  China mfg numbers down Good news for trade tal...
15   02-01-2019     1                                  only up!!!!!! $BA
16   02-01-2019     1                                   Happy New year !
17   02-01-2019     1                                         200 target
18   02-01-2019     1                      DAMN Asian stocks way down ..
19   02-01-2019     1                                 Weds Watch 1 $GSAT

In [ ]:
import re
##regular expressions for ids and links from text section
pat1= r'@[A-Za-z0-9]+'
pat2= r'https?://[A-Za-z0-9./]+'
#pat1|pat2
combined_pat=r'|'.join((pat1,pat2))
#no word should start with special symbol
pat3= r'[^a-zA-Z]'
combined_pat2=r'|'.join((combined_pat,pat3))

In [ ]:
def clean(text):
    tweets = re.sub(combined_pat2,' ',text)
    tweets=tweets.lower()
    tweets=tweets.split()
    # tweets = [ps.stem(word) for word in tweets if not word in set(stopwords.words('english'))]
    tweets = ' '.join(tweets)
    return tweets

In [122]:
from gensim.utils import simple_preprocess
from gensim.parsing.porter import PorterStemmer

In [123]:
def stemmed_tokens(date_wise):
    PS = PorterStemmer()
    tokens = [simple_preprocess(tweet, deacc=True) for tweet in date_wise]
    return [ [PS.stem(word) for word in token] for token in tokens]

In [120]:
#data cleaned,tokenized,stemmed,stored date wise
date_wise=[]
cnt=-1
prev=""
for i in range(0,len(df1['clean_text'])):
    if df1['created_date'][i]!=prev:
        if date_wise:
            date_wise.append(stemmed_tokens(date_wise.pop()))
        cnt+=1
        date_wise.append([])
    date_wise[cnt].append(clean(df1['clean_text'][i]))
    prev=df1['created_date'][i]

In [121]:
date_wise[0]

[['think',
  'about',
  'bui',
  'lot',
  'and',
  'hold',
  'it',
  'for',
  'long',
  'ani',
  'suggest',
  'on',
  'ba'],
 ['so',
  'is',
  'it',
  'safe',
  'to',
  'sai',
  'that',
  'the',
  'market',
  'bottom',
  'last',
  'week',
  'and',
  'we',
  'head',
  'up',
  'from',
  'here',
  'here'],
 ['neverforget'],
 ['helo',
  'where',
  'do',
  'you',
  'see',
  'go',
  'in',
  'the',
  'come',
  'dai',
  'week',
  'etc',
  'thank'],
 ['rip', 'url', 'ba'],
 ['market', 'review', 'url', 'five'],
 ['make',
  'no',
  'mistak',
  'thi',
  'is',
  'head',
  'earli',
  'februari',
  'but',
  'target',
  'by',
  'fridai',
  'entri',
  'wednesdai',
  'spy'],
 ['seem', 'like', 'pp', 'in', 'channel'],
 ['bul', 'bear', 'dow', 'jone', 'url', 'utx'],
 ['wait', 'for', 'big', 'load']]